<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381080328697-7ethfn2ta1pmj5um5g7b0ahm04jf9ae5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381080328697-7ethfn2ta1pmj5um5g7b0ahm04jf9ae5</string>
	<key>API_KEY</key>
	<string>AIzaSyClccG4AAxDLZ7tZ4T3eJwsLmV5QEkJN-k</string>
	<key>GCM_SENDER_ID</key>
	<string>381080328697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Teletherapy</string>
	<key>PROJECT_ID</key>
	<string>teletherapy-5eeab</string>
	<key>STORAGE_BUCKET</key>
	<string>teletherapy-5eeab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381080328697:ios:0c7f79214a07b231124528</string>
</dict>
</plist>